### Misc Ignores ###
Thumbs.db

### Delphi Files ###
*__history*
*.res
*.dcu
*.cbk
*.~pas
*.identcache
*.local
*.*.local
*.exe
*.tvsconfig
*.dsk
*.~dsk

### Model Maker files
*.txvpck
*.txapackage

### MadExcept settings
*.mes


### the top most binary directory.
bin/*
*Project Resources*

Installer/Data Dir/Factory/Patches/*
Installer/Data Dir/User/Patches/*


### Machine specific environment settings.
Config/*
Lucidity Project Setup.bat
Lucidity Project Teardown.bat
Lucidity Create Installers.bat


### ignore any generated DLLs.
Lucidity.dll


