//
// Version Information resources
//
LANGUAGE 0, SUBLANG_NEUTRAL
1 VERSIONINFO
    FILEVERSION     1,0,4,8
    PRODUCTVERSION  1,0,4,8
    FILEOS          VOS_UNKNOWN
    FILETYPE        VFT_UNKNOWN
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   0x00000000
    FILEFLAGS       0x00000000
{
    
}
